* {
	border: none;
	transition: ease-in-out;
	transition-duration: 0.2s;
	font-family: "JetBrainsMono NF";
	font-size: 24px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

.modules-left,
.modules-center,
.modules-right {
	background-color: #19191b;
	margin: 12px;
	margin-bottom: 0px;
	border-radius: 24px;
}

.modules-left,
.modules-right {
	padding-left: 8px;
	padding-right: 8px;
}

#workspaces button, #taskbar button {
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 24px;
	background: transparent;
	color: #cc1444;
}

#workspaces button.active, #taskbar button:active {
	background-color: #121213;
}

#workspaces button:hover, #taskbar button:hover {
	color: #E8A2AF;
	box-shadow: none;
	text-shadow: none;
}

/*#pulseaudio {
	font-size: 20px;
}*/

#battery.charging, #battery.plugged {}

#battery.critical:not(.charging) {
	animation-duration: 0.5s;
	animation-name: blink;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes blink {
	to {
		background-color: #BF616A;
		color: #B5E8E0;
	}
}

#idle_inhibitor,
#custom-mpris,
#tray,

#clock,
#network,
#backlight,
#battery,
#power-profiles-daemon,
#wireplumber,
#custom-updates {
	padding: 8px;
	border-radius: 12px;
	color: #cc1444;
}

