* {
	border: none;
	border-radius: 10px;
	font-family: Roboto, "Symbols Nerd Font";
	font-size: 16px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces {
	margin-top: 8px;
	margin-bottom: 8px;
	border-radius: 10px;
	transition: none;
	background-color: #19191b;
}

#workspaces button {
	transition: none;
	background: transparent;
	color: #cc1444;
	border-radius: 0px;
}

#workspaces button.active {
	color: #cc1444;
	border-bottom: 2px solid #cc1444;
}

#workspaces button:hover {
	color: #E8A2AF;
	border-color: #E8A2AF;
	box-shadow: inherit;
	text-shadow: inherit;
}

/*
#network {
	color: #161320;
	background: #bd93f9;
}

#pulseaudio {
	color: #1A1826;
	background: #FAE3B0;
}

#backlight {
	color: #161320;
	background: #F8BD96;
}

#clock {
	color: #161320;
	background: #ABE9B3;
	background: #1A1826;
}

#memory {
	color: #161320;
	background: #DDB6F2;
}
#cpu {
	color: #161320;
	background: #96CDFB;
}

#tray {
	color: #B5E8E0;
	background: #161320;
}

#custom-updates {
	color: #161320;
	background: #E8A2AF;
}

#idle_inhibitor {
	color: #161320;
	background: #F2CDCD;
}

#battery {
	color: #161320;
	background: #B5E8E0;
}
*/

#custom-weather {
	margin-right: 8px;
}

#battery.charging, #battery.plugged {}

#battery.critical:not(.charging) {
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes blink {
	to {
		background-color: #BF616A;
		color: #B5E8E0;
	}
}

#idle_inhibitor,
#custom-updates,
#custom-weather,
#tray,
#cpu,
#mpd,
#temperature,
#memory,
#clock,
#backlight,
#battery,
#pulseaudio,
#power-profiles-daemon,
#network {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 8px;
	border-radius: 10px;
	transition: none;
	background-color: #19191b;
	color: #cc1444;
}

